/* Wofi configuration */
/* See: man 5 wofi */

window {
    margin: 0px;
    border: 2px solid #89b4fa;
    border-radius: 10px;
    background-color: #1e1e2eee;
    font-family: monospace;
    font-size: 14px;
}

#input {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #313244;
    color: #cdd6f4;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #cdd6f4;
} 

#entry {
    padding: 8px;
    margin: 2px;
    border-radius: 6px;
}

#entry:selected {
    background-color: #89b4faaa;
    color: #1e1e2e;
}

#text:selected {
    color: #1e1e2e;
}
